body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    color: whitesmoke;
    text-align: center;
    .displayOne{
        .overview{
            text-align: left;
        }
    }
    .cardContainer{
        a{
            text-decoration: none;
        }
        background-color: black;
        button{
            background-color: black;
            border: whitesmoke solid;
            border-width: thin;
            color: whitesmoke;
            margin-bottom: 1rem;
        }
        ul{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
            .Card{
                text-align: center;
                padding: 2%;
                border: solid whitesmoke;
                margin: 1rem;
                color: whitesmoke;
                border-radius: 2%;
                overflow: hidden;
                background-color: #262625;
                width: 250px;
                height: 450px;
                .filler{
                    background-color: whitesmoke;
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }
    .searchContainer{
        width: 100%;
        text-align: center;
        background-color: black;
        .inputWrapper{
            width: 100%;
            input{
                margin-top: 2rem;
                width: 50%;
            }
        }
        
        }
    .headerContainer{
        display: flex;
        width: 100%;
        .logoContainer{
            background-color: whitesmoke;
            text-align: center;
            padding: 1rem;
        }
        .navContainer{
            width: 80%;
            text-align: right;
            margin-left: 10rem;
            .nav-list{
                list-style: none;
                li{
                    display: inline;
                    padding-left: 1rem;
                }  
            }
        }
        background-color: whitesmoke;
        font-size: 1.5rem;
        a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: black;
            }
            a:visited{
                color: black;
            }
        
    }
}

