body{
    background-color: #262625;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    color: whitesmoke;
    text-align: center;
    .displayOne{
        width: 60%;
        margin-left: 20%;
        border: whitesmoke solid;
        border-width: thin;
        border-top: none;
        h2{
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 0%;
        }
        .tags{
            background-color: whitesmoke;
            color: #262625;
            margin-left: 1rem;
            padding: 0.5%;
        }
        .overview{
            border-top: whitesmoke solid;
            border-width: thin;
            width: 80%;
            margin-left: 6%;
            padding: 2rem;
        }
    }
    .similarContainer{
        .cardContainer{
            .Card{
                width : 120px;
                height: 240px;
                font-size: 10px;
                .cardImg{
                    width: 100px;
                }
            }
        }
    }
    .cardContainer{
        a{
            text-decoration: none;
        }
        background-color: #262625;
        .pageSelector{
            width: 20%;
            margin-top: 0%;
            margin-left: 40%;
            button{
                margin-top: 5%;
                border: whitesmoke solid;
                border-width: thin;
                font-size: 18px;
                background-color: #262625;
            }
        }
        button{
            background-color: #262625;
            border: whitesmoke solid;
            border-width: thin;
            color: whitesmoke;
            margin-bottom: 1rem;
        }
        ul{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
            .Card{
                text-align: center;
                padding: 2%;
                border: solid whitesmoke;
                margin: 1rem;
                color: whitesmoke;
                border-radius: 2%;
                overflow: hidden;
                background-color: #262625;
                width: 250px;
                height: 450px;
                .filler{
                    background-color: whitesmoke;
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }
    .searchContainer{
        width: 100%;
        text-align: center;
        background-color: #262625;
        .inputWrapper{
            width: 100%;
            input{
                margin-top: 2rem;
                width: 50%;
            }
        }
        
        }
    .headerContainer{
        display: flex;
        width: 100%;
        .logoContainer{
            background-color: whitesmoke;
            text-align: center;
            padding: 1rem;
        }
        .navContainer{
            width: 80%;
            text-align: right;
            margin-left: 10rem;
            .nav-list{
                list-style: none;
                li{
                    display: inline;
                    padding-left: 1rem;
                }  
            }
        }
        background-color: whitesmoke;
        font-size: 1.5rem;
        a{
                text-decoration: none;
                color: #262625;
            }
            a:hover{
                color: #262625;
            }
            a:visited{
                color: #262625;
            }
        
    }
}

